*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    box-sizing: border-box;
    height: 100vh;
}

/*Header Section CSS Starts*/
#header{
    padding: 220px 0;
    background-image: linear-gradient(to top, rgba(0,0,0,0.9),rgba(0,0,0,0)), url('../img/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#header .container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .row{
    height: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .container .row h1{
    font-size: 65px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    color: #fff;
}
#header .container .row p{
    font-size: 18px;
    color: #ededed;
    margin-bottom: 25px;
    line-height: 1.8;
    letter-spacing: 1px;
}
#header .container .row .btn{
    display: block;
    width: 25%;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    margin: 0 auto; 
    font-size: 18px;
    background-color: #ff5959;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
    transition: .2s linear;
}
#header .container .row .btn:hover{
    background-color: rgba(255, 87, 87,0.8);
}
/*Header Section CSS Ends*/

/*Donation Section Starts*/
#donation{
    padding: 100px 0;
}
#donation .container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#donation .row{
    height: 60%;
    text-align: center;
}
#donation .container .row h1{
    font-size: 65px;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    color: #333;
}
#donation .container .row p{
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.8;
    letter-spacing: 1px;
}

#donation .donate-now .donation-amount{
    display: flex;
    align-items: center;
    justify-content: center;
}
#donation .donate-now .donation-amount .boxed-taka{
    height:150px;
    width: 150px;
    background-color: #ededed;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: 0.3s linear;
    cursor:pointer;
}
#donation .donate-now .donation-amount .boxed-taka:hover{
    border: 2px solid #ff5959;
    color: #ff5959;
    background-color: rgba(255, 89, 89,.3);
}
#donation .donate-now .donation-amount .boxed-taka h1{
    font-size: 30px;
    margin-bottom: 0;
}
#donation .donate-now input{
    margin: 40px 0 25px 0;
    padding:10px;
    width: 80%;
    outline: none;
    border: none;
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid #999;
    transition: .3s linear;
}
#donation .donate-now input:focus{
    border-bottom: 3px solid #ff5959;
}
#donation .donate-now .btn{
    display: block;
    width: 25%;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    margin: 0 auto; 
    font-size: 18px;
    background-color: #ff5959;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
    transition: .2s linear;
}
#donation .donate-now .btn:hover{
    background-color: rgba(255, 87, 87,0.8);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    transform: translateY(-.4px);
}
/*Donation Section Ends*/


/*Donate Plan Section Starts*/
#donate-plan{
    padding: 120px 0;
    background-color: #ededed;
}
#donate-plan .container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#donate-plan .row{
    height: 60%;
    text-align: center;
}
#donate-plan .container .row h1{
    font-size: 65px;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    color: #333;
}
#donate-plan .container .row .donate-plan-dexcription{
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.8;
    letter-spacing: 1px;
}
#donate-plan .donate-category{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#donate-plan .donate-category .boxed-category{
    height: 300px;
    width: 350px;
    text-align: left;
    margin: 20px 20px;
    padding: 50px 25px;
    border-radius: 3px;
    cursor: pointer;
}
#donate-plan .donate-category .boxed-category  img{
    margin-bottom: 15px;
}
#donate-plan .donate-category .boxed-category h3{
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}
#donate-plan .donate-category .boxed-category p{
    font-size: 16px;
    color: #707070;
}
#donate-plan .donate-category .color-1{
    background-color: rgba(79, 157, 166, 0.3);
    box-shadow: 1px 3px 10px rgba(0,0,0,0.6);
    transition: .4s linear;
}
#donate-plan .donate-category .color-2{
    background-color: rgba(255, 89, 89, 0.3);
    box-shadow: 1px 3px 10px rgba(0,0,0,0.6);
    transition: .4s linear;
}
#donate-plan .donate-category .color-3{
    background-color: rgba(255, 244, 214,0.9);
    box-shadow: 1px 3px 10px rgba(0,0,0,0.6);
    transition: .4s linear;
}
#donate-plan .donate-category .color-1:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.4);
    transform: translateY(-0.5px);
}
#donate-plan .donate-category .color-2:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.4);
    transform: translateY(-.5px);
}
#donate-plan .donate-category .color-3:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.4);
    transform: translateY(-.5px);
}
/*Donate Plan Section Ends*/


/*Victim's Gallery Section Starts*/
#victims-gallery{
    padding: 120px 0;
}
#victims-gallery .container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
#victims-gallery .row{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#victims-gallery .row .col-1-1{
    width:50%;
    padding: 20px 60px;
}
#victims-gallery .row .col-1-1 h1{
    font-size: 65px;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    color: #333;
}
#victims-gallery .row .col-1-1 p{
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.8;
    letter-spacing: 1px;
}


#victims-gallery .row .col-1-2{
    width: 50%;
    height: 600px;
}
#victims-gallery .row .col-1-3{
    display: flex; 
    align-items: center;
    justify-content: space-around;
    width: 600px;
    height: 50%;
}
#victims-gallery .row .col-1-2 .image-list{
    width: 50%;
    height: 290px;
    overflow: hidden;
    margin: 5px;
}
#victims-gallery .row .col-1-2 .image-list img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: .3s linear;

}
#victims-gallery .row .col-1-2 .image-list img:hover{
    transform: scale(1.2);
    
}
/*Victim's Gallery Section Ends*/


/*Our Team Section Starts*/
#our-team{
    padding: 60px 0;
    background-color: #ededed;
}
#our-team .container{
    width: 70%;
    height: 100%;
    margin: 0 auto;

}
#our-team .row{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#our-team .container .row .col-1-1{
    width: 100%;
}
#our-team .container .row .col-1-1 h1{
    font-size: 65px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    color: #333;
}
#our-team .container .row .col-1-1 p{
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
    line-height: 1.8;
    letter-spacing: 1px;
}
#our-team .container .row .col-1-1 .team-members{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 70px 0;
}
#our-team .container .row .col-1-1 .team-members .members{
    width: 30%;
    height: 300px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.6);
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s linear;
}
#our-team .container .row .col-1-1 .team-members .members:hover{
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    transform: translateY(-3px);
}
#our-team .container .row .col-1-1 .team-members .members:hover .member-image{
    border-bottom: 10px solid #ff5959;
    border-left: 10px solid #ff5959;
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
}
#our-team .container .row .col-1-1 .team-members .members .member-image{
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    border-top: 10px solid #ff5959;
    border-right: 10px solid #ff5959;
    border-left: 10px solid #fff;
    border-bottom: 10px solid #fff;
    cursor:pointer;
    margin-top: -60px;
    margin-bottom: 20px;
    transition: .4s;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.6);
}
#our-team .container .row .col-1-1 .team-members .members .member-image:hover{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    transform: translateY(1px);
}
#our-team .container .row .col-1-1 .team-members .members .member-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#our-team .container .row .col-1-1 .team-members .members h4{
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    color: #333;
}
#our-team .container .row .col-1-1 .team-members .members p{
    padding: 15px;
    font-size: 16px;
}
/*Our Team Section Ends*/


/*Get Update Section Starts*/
#get-update{
    padding: 70px 0;
    background-image: linear-gradient(to top, rgba(0,0,0,0.9),rgba(0,0,0,.2)), url('../img/donation6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 3px solid #ff5959;
    border-bottom: 3px solid #ff5959;
}
#get-update .container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#get-update .row{
    height: 60%;
    text-align: center;
}
#get-update .container .row h1{
    font-size: 65px;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
}
#get-update .container .row p{
    font-size: 18px;
    color: #ededed;
    margin-bottom: 30px;
    line-height: 1.8;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
}
#get-update .subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
#get-update .subscribe .boxed-subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 820px;
    background-color: rgb(249, 232, 187);
    margin: 10px;
    border-radius: 3px;
    cursor: pointer;
}
#get-update .subscribe .boxed-subscribe form input{
    padding: 8px;
    font-size: 18px;
    margin-bottom: 20px;
    border: none;
    outline: 3px solid #fff;;
    transition: .3s linear;
    color: #333;
    width: 40%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    border-radius: 5px;
}
#get-update .subscribe .boxed-subscribe input:focus{
    outline: 3px solid #ff5959;
}
#get-update .subscribe .boxed-subscribe .btn{
    display: inline-block;
    width: 25%;
    border: none;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    margin: 0 auto; 
    font-size: 19px;
    background-color: #ff5959;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
    transition: .3s linear;
    border-radius: 5px;
}
#get-update .subscribe .boxed-subscribe .btn:hover{
    background-color: rgba(255, 87, 87,1);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    transform: translateY(1px);
}
/*Get Upadte section Ends*/


/*Footer Section Starts*/
footer{
    padding: 50px 0;
    background-color: #0B0D17;
}
footer .row{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .row .col-1-1{
    text-align: center;
}
footer .row .col-1-1 h1{
    color: #ff5959;
    font-family: 'Lobster', sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 10px;
}
footer .row .col-1-1 p{
    color: #999;
    font-size: 18px;
}
/*Footer Section Ends*/
